<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common/head :: head('Shopping Web - Home')}"/>
<!--*/ @thymesVar id="product" type="com.tokioschool.myshop.dto.product.ProductDto" */-->
<!--*/ @thymesVar id="categories" type="com.tokioschool.myshop.dto.category.CategoryEnumDto" */-->

<body>
<nav th:replace="~{fragments/common/nav}"></nav>
<header th:replace="~{fragments/index/header :: header('Sopping Web- Product')}"></header>

<div class="container-fluid"  th:object="${product}" >
    <div class="d-flex flex-column flex-md-row py-5 px-5 align-self-center">
        <div  class="d-flex-column align-self-center px-3">
            <img th:if="*{getImage == null}" th:src="@{/img/product-default.jpg}" alt="..." width="auto" height="50%">
            <img th:if="*{getImage != null}" th:src="@{/shopping/resources(rsc=*{getImage.getId()})}" alt="..." width="auto" height="50%">

            <div class="flex-row" >
                <a th:href="@{/shopping/resources/download/{id}(id=*{getImage.getId()})}" class="btn btn-link" th:if="*{getImage != null}">Download</a>
            </div>

        </div>


            <form method="post"
                  th:action="@{/shopping/products/edit/{id}(id=${id})}"
                  enctype="multipart/form-data"
                  class="d-flex-column col-md-10">

                <div class="d-flex flex-row">
                    <label for="name" class="col-md-2 col-form-label" th:text="Name"></label>
                    <div class="col-md-5">
                        <input type="text" class="form-control"
                               id="name" name="name" th:value="*{name}">
                        <div th:if="${#fields.hasErrors('name')}">
                            <ul class="list-group alert alert-danger">
                                <li th:each="err : ${#fields.errors('name')}" th:text="${err}" class="list-group-item-danger px-1" />
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <label for="category" class="col-md-2 col-form-label" th:text="Categoria"></label>
                    <div class="col-md-5">
                        <select class="form-select" id="category" name="category" th:field="*{category}">
                            <option value="">select an option ... </option>
                            <option th:selected="${product.category!=null && categories == cat.name()}"
                                    th:each="cat :  ${T(com.tokioschool.myshop.dto.category.CategoryEnumDto).values()}"
                                    th:value="${cat.name()}"
                                    th:text="${cat.name()}"></option>
                        </select>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('category')}" th:errorclass="error" th:errors="*{category}" />
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <label for="stock" class="col-md-2 col-form-label" th:text="Stock"></label>
                    <div class="col-md-5">
                        <input type="number" class="form-control"
                               id="stock" name="stock" th:value="*{stock}"  min="0" step="any">
                    </div>

                </div>

                <div class="d-flex flex-row">
                    <label for="price" class="col-md-2 col-form-label" th:text="Price"></label>
                    <div class="col-md-5">
                        <input type="number" class="form-control"
                               id="price" name="price" th:value="*{price}"  min="0" step="any">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errorclass="error" th:errors="*{price}" />
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <label for="discount" class="col-md-2 col-form-label" th:text="Discount"></label>
                    <div class="col-md-5">
                        <input type="number" class="form-control"
                               id="discount" name="discount" th:value="*{discount}"  min="0" step="any">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('discount')}" th:errorclass="error" th:errors="*{discount}" />
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <label for="taxes" class="col-md-2 col-form-label" th:text="Tax"></label>
                    <div class="col-md-5">
                        <input type="number" class="form-control"
                               id="taxes" name="taxes" th:value="*{taxes}"  min="0" step="any">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('taxes')}" th:errorclass="error" th:errors="*{taxes}" />
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <label for="description" class="col-md-2 col-form-label" th:text="Descripcion"></label>
                    <div class="col-md-5">
                        <textarea class="form-control"
                               id="description" name="description" th:field="*{description}" rows="4"></textarea>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <label for="visibly" class="col-md-2 col-form-label" th:text="Visible"></label>
                    <div class="col-1 py-1">
                        <input type="checkbox" th:checked="*{visibly == null} ? true : *{visibly}" id="visibly" name="visibly"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('visibly')}" th:errorclass="error" th:errors="*{visibly}" />
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <label for="productImage" class="col-md-2 col-form-label" th:text="Imagen"></label>
                    <div class="col-md-5">
                        <input type="file" class="form-control"
                               id="productImage" name="productImage">
                    </div>
                </div>
                <hr>
                <div class="offset-md-2">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
    </div>
</div>

<span th:replace="~{fragments/common/script}"></span>
</body>
</html>