<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common/head :: head('Shopping Web - Home')}"/>
<!--*/ @thymesVar id="product" type="com.tokioschool.myshop.dto.product.ProductDto" */-->

<body>
    <nav th:replace="~{fragments/common/nav}"></nav>
    <header th:replace="~{fragments/index/header :: header('Sopping Web- Product')}"></header>

    <div class="container-fluid"  th:object="${product}" >
        <div class="d-flex flex-column flex-md-row py-5 px-5 align-self-center">
            <div  class="d-flex-column align-self-center px-3">
                <img th:if="*{getImage == null}" th:src="@{/img/product-default.jpg}" alt="..." width="auto" height="50%">
                <img th:if="*{getImage != null}" th:src="@{/shopping/resources(rsc=*{getImage.getId()})}" alt="..." width="auto" height="50%">

                <div class="flex-row" th:if="*{getImage != null}">
                    <a th:href="@{/shopping/resources/download/{id}(id=*{getImage.getId()})}" class="btn btn-link">Download</a>
                </div>
            </div>


            <div class="d-flex-column col-md-10 ">
                <h3 class="card-title" th:text="*{name}"></h3>
                <h5 class="card-subtitle" th:text="*{category}"></h5>
                <hr>
                <div class="">
                    <label for="description"  class="col-3"><b>Description</b></label>
                    <textarea class="col-9" th:field = "*{description}" id="description" rows="4" disabled></textarea>
                </div>

                <div class="">
                    <label for="price" class="col-3"><b>Price</b></label>
                    <input type="number" class="col-9" disabled th:value="*{price}" id="price">
                </div>

                <div class="">
                    <label for="taxes" class="col-3"><b>axes</b></label>
                    <input type="number" class="col-9" disabled th:value="*{taxes}" id="taxes">
                </div>

                <div class="">
                    <label for="discount" class="col-3"><b>Discount</b></label>
                    <input type="number" class="col-9" disabled th:value="*{discount}" id="discount">
                </div>


                <hr>
                <div class="card-footer">
                    <span class="col-2"></span>
                    <a th:href="@{/shopping/products/edit/{id}(id=*{id})}" class="btn btn-link">Editar</a>
                    <span class="col-2"></span>
                    <a onclick="history.go(-1)" class="btn btn-link">Back</a>
                </div>
            </div>
        </div>
    </div>

<span th:replace="~{fragments/common/script}"></span>
</body>
</html>