<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common/head :: head('Shopping Web - Home')}"/>
<!--*/ @thymesVar id="products" type="java.util.List<com.tokioschool.myshop.dto.product.ProductDto>" */-->

<body>
    <nav th:replace="~{fragments/common/nav}"></nav>
    <header th:replace="~{fragments/index/header :: header('Sopping Web')}"></header>
    <span th:if="${add}">
        <h2 th:text="${add}"></h2>
    </span>
    <div class="container-fluid" >
        <h2 class="text-center">[[${pageTitle}]]</h2>

        <!-- require that parent page contains a list of products
        if this send as arguments, then this read as string for this reason, don't allow-->
        <div th:if="${products.size() > 0 }"  th:replace="~{fragments/common/product/product-table::product-table()}"></div>
        <span th:unless="${products.size() > 0 }">
            <div class="alert alert-warning" role="alert">
              ¡No hay productos!
            </div>
        </span>
    </div>

    <!-- require that parent page contains the var totalPages and curruentPage,
     if this send as arguments, then this read as string for this reason, don't allow-->
    <div  th:if="${totalPages > 0}" th:replace="~{fragments/common/nav-pagination :: nav-pagination() }"></div>

<span th:replace="~{fragments/common/script}"></span>
</body>
</html>