<div th:fragment="product-table()">
    <script>
        function updateQuantity(productId, input) {
            console.log("ee: "+productId)
            const quantity = input.value;

            fetch('/shopping/shops/updateQuantity', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    productId: productId,
                    quantity: quantity
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error en la actualización');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Actualización exitosa:', data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>

    <form
            class="d-flex flex-column"
            enctype="multipart/form-data"
            th:action="@{/shopping/orders}"
            method="get" th:object="${products}">

        <table class="table table-bordered table-responsive">
            <!--*/ @thymesVar id="product" type="java.util.List<com.tokioschool.myshop.mvc.dto.product.ProductCarDto>" */-->
            <!--*/ @thymesVar id="product" type="com.tokioschool.myshop.mvc.dto.product.ProductCarDto" */-->
            <thead class="thead-dark">
            <th scope="col">Index</th>
            <th scope="col">Name</th>
            <th scope="col">Unidades</th>
            </thead>
            <tbody>
            <!-- {index = 0, count = 1, size = 2, current = ProductCarDto(id=2, name=MSI 2018, stock=5, amount=0)} -->
            <tr th:each="product,item : ${products}" scope="row"  th:object="${product}">
                <div>
                    <td th:text="${item.index}+1"> <input type="hidden" th:value="*{id}" id="productId"></td>
                    <td th:text="*{name}"></td>
                    <td> <input type="number" th:value="*{amount}" min=0 th:max="*{stock}"  th:onchange="'javascript:updateQuantity('+(${product.id})+', this)'" id="productAmount"/></td>
                </div>

            </tr>
            </tbody>
        </table>
        <button type="submit">Comprar</button>
    </form>


</div>