<div th:fragment="user-form(user,title)"
     xmlns:th="http://www.thymeleaf.org">
<!--*/ @thymesVar id="user" type="com.tokioschool.myshop.dto.user.UserDto" */-->
    <h2 th:text="${title}"></h2>
    <form
            th:object="${user}"
            class="d-flex flex-row"
            enctype="multipart/form-data"
            th:action="@{/shopping/users/add}"
            method="post">


        <div class="d-flex flex-column px-2" style="width: 316px;">
            <img th:if="*{getResource == null}" th:src="@{/img/user-default.png}" alt="..." width="auto" height="50%"/>
            <img th:if="*{getResource != null}" th:src="@{/shopping/resources(rsc=*{getResource.getId})}" alt="..." width="auto" height="50%"/>
        </div>

        <div class="d-flex flex-column px-3" style="width: 500px;">
            <input type="hidden" th:field="*{id}" id="userId">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label for="userName" class="form-label col-md-4">First name</label>
                    <input type="text" class="form-control" id="userName" th:field="*{person.userName}" name="userName" required>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('person.userName')}" th:errorclass="error" th:errors="*{person.userName}" />
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label for="surnames" class="form-label col-md-4">Last name</label>
                    <input type="text" class="form-control" id="surnames" th:field="*{person.surnames}" name="surnames">
                </div>
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label for="email" class="form-label col-md-4">Email</label>
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend2">@</span>
                        <input type="email" class="form-control" id="email"  name="email" aria-describedby="inputGroupPrepend2" th:field="*{person.email}" required>
                    </div>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('person.email')}" th:errorclass="error" th:errors="*{person.email}" />
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <input type="hidden" th:field="*{password}" name="password" id="password">
                </div>
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label for="newPassword" class="form-label col-md-4">Password</label>
                    <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}" name="newPassword">
                </div>
                <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"/>-->
                <span th:if="${pwdError}" class="alert alert-danger"th:text="${pwdError}"></span>
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex flex-row" >
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" id="active1"  value="true"  name="active" th:checked="*{active == null} ? true : *{active}">
                            <label class="form-check-label" for="active1">
                                Active
                            </label>
                        </div>
                        <div class="form-check-inline"  >
                            <input class="form-check-input" type="radio" id="active2"  value="false"  name="active" >
                            <label class="form-check-label" for="active2">
                                No Active
                            </label>
                        </div>
                </div>
            </div>

            <hr>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label for="identificationType" class="col-form-label col-md-6" th:text="'Identification type'"></label>
                    <select class="form-select" id="identificationType" name="identificationType" th:field="*{person.identification.identificationType}">
                        <option value="">select an option ... </option>
                        <option th:each="idType :  ${T(com.tokioschool.myshop.dto.identification.IdentificationTypeDto).values()}"
                                th:selected="${person != null && person.identification != null && person.identification.identificationType!=null && person.identification.identificationType == idType.name()}"
                                th:value="${idType.name()}"
                                th:text="${idType.name()}">
                        </option>
                    </select>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('person.identification.identificationType')}" th:errorclass="error" th:errors="*{person.identification.identificationType}" />
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label for="number" class="form-label col-md-6">Number</label>
                    <input type="text" class="form-control" id="number" th:field="*{person.identification.number}" name="number" min="0" max="150" required>
                </div>
                <!-- si se usa @PersonIdentificationValidation, el error es "person" (nombre del campo que valida la etiqueta) -->
                <!-- <div class="alert alert-danger" th:if="${#fields.hasErrors('person')}" th:errorclass="error" th:errors="*{person}" /> -->
                <!-- si se usa @Valid, el error es "person.identification" (nombre del campo que valida la etiqueta @IdentificationValidation) -->
                <div class="alert alert-danger" th:if="${#fields.hasErrors('person.identification')}" th:errorclass="error" th:errors="*{person.identification}" />
            </div>

            <hr>

            <div class="d-flex flex-row">
                <label for="personPhoto" class="col-md-3 col-form-label" th:text="Photo"></label>
                <div>
                    <input type="file" class="form-control"
                           id="personPhoto" name="personPhoto">
                </div>
            </div>

            <hr>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label for="roadType" class="col-form-label col-md-6" th:text="'Road type'"></label>
                    <select class="form-select" id="roadType" name="roadType" th:field="*{address.roadType}" required>
                        <option value="">select an option ... </option>
                        <option th:each="roadType :  ${T(com.tokioschool.myshop.dto.addres.RoadTypeDto).values()}"
                                th:selected="${address != null && address.roadType != null && address.roadType == roadType.name()}"
                                th:value="${roadType.name()}"
                                th:text="${roadType.name()}">
                        </option>
                    </select>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" th:errorclass="error" th:errors="*{address.roadType}" />
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label for="road" class="form-label col-md-6">Road</label>
                    <input type="text" class="form-control" id="road" th:field="*{address.road}" name="road" required>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" th:errorclass="error" th:errors="*{address.road}" />
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label for="roadNumber" class="form-label col-md-6">Number</label>
                    <input type="number" class="form-control" id="roadNumber" th:field="*{address.number}" min="0" max="150" name="roadNumber" required>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" th:errorclass="error" th:errors="*{address.number}" />
            </div>

            <div class="d-flex flex-row">
                <label for="roadRest" class="form-label col-md-6">Rest</label>
                <input type="text" class="form-control" id="roadRest" th:field="*{address.rest}" name="roadRest">
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label for="postalCode" class="form-label col-md-6">Postal Code</label>
                    <input type="number" class="form-control" id="postalCode" th:field="*{address.postalCode}" min="0" name="postalCode" required>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" th:errorclass="error" th:errors="*{address.postalCode}" />
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label for="localitation" class="form-label col-md-6">Localitation</label>
                    <input type="text" class="form-control" id="localitation" th:field="*{address.localitation}" name="localitation" required>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" th:errorclass="error" th:errors="*{address.localitation}" />
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label for="province" class="form-label col-md-6">Province</label>
                    <input type="text" class="form-control" id="province" th:field="*{address.province}" name="province" required>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" th:errorclass="error" th:errors="*{address.province}" />
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label for="country" class="form-label col-md-6">Country</label>
                    <input type="text" class="form-control" id="country" th:field="*{address.country}" name="country" required>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" th:errorclass="error" th:errors="*{address.country}" />
            </div>

            <hr>
            <div class="offset-md-2">
                <button class="btn btn-primary" type="submit">Send</button>
            </div>
        </div>
    </form>

</div>