<head th:fragment="head(title)"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />

    <!-- boostrap css of webjars dependency-->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>

    <!-- Override Boostrap CSS -->
    <!--<link rel="stylesheet"  href="/webjars/bootstrap/5.3.2/css/bootstrap-" >-->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <!--<link rel="stylesheet" href="/static/css/index.css"/>-->

    <!-- boostrap icon of webjars dependency -->
    <link rel="icon" href="/webjars/bootstrap-icons/1.11.3/icons/shop.svg">

    <title th:text="${title}"></title>
</head>