<header th:fragment="header">
  <nav class="navbar">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" th:href="@{/shopping}">Shopping</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/shopping/products}">View all</a></li>
              <li><a class="dropdown-item" th:href="@{/shopping/products/by-category}">View by category</a></li>
              <li><hr class="dropdown-divider" style="border-color:black;"></li>
              <li><a class="dropdown-item" th:href="@{/shopping/products/create}">New Product</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Persons
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/shopping/users/list}">List</a></li>
              <li><a class="dropdown-item" th:href="@{/shopping/users/new}">New</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Shop
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/shopping/shops}">Car</a></li>
            </ul>
          </li>

        </ul>
      </div>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>

    </div>
  </nav>
</header>