<header th:fragment="header(title)"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

    <div class="row container-fluid">
        <h1 th:text="${title}"></h1>
        <h6 class="border-bottom">¡Dando el primer paso!</h6>
    </div>

</header>
